body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 25px;
  color: #857e74;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  color: #777167;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #d0e4fc;
  border-radius: 5px;
}
